<div style="text-align:center"><h2>Detail Page</h2></div>

<div style="text-align:center">{{books.volumeInfo.title}}</div>
<p>

	
    <table border="0" >

        <tr>
            <td><img src="{{books.volumeInfo.imageLinks.thumbnail}}" ></td>
            <td>{{books.volumeInfo.description}}</td>
        </tr>
    </table>

<br>
&ensp; <b>Author:</b> &ensp; {{books.volumeInfo.authors[0]}}&emsp;&emsp;&emsp;<b>Published Date:</b> &ensp; {{books.volumeInfo.publishedDate}}
<p>
&ensp; <b>Book ID:</b> &ensp; {{id}} &emsp;<b>Publisher:</b>&emsp;{{books.volumeInfo.publisher}}
<br>
<p ng-show='loginstatus'><button  ng-click="addToFavourites(id)">Add to Favourites</button></p>
<p><h2>review</h2></p>
    
            <p  ng-show = "NoReviewValue">There no review created by other user</p>
        
    
    <table ng-repeat="review in reviews" border = "1" >
        
        <tr>
            <td width="90"><b>{{review.Username}}<b></td><td width="150"><textarea readonly rows="5" name="oldreview" style="resize:none">{{review.Review}}</textarea></td><td ng-show="review.Username == userID" width="50"><input type="submit" id="submit" value="delete" ng-click="deleteReview(review.ReviewID)" /></td>
        </tr>
    </table>
    <table ng-show='loginstatus'>
        <tr>
            <td>Post new reviews</td>
        </tr>
        <tr>
            <td>
                <textarea  rows="5" name="review" ng-model="review"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="submit" value="create review" ng-click="createReview()" />
            </td>
        </tr>
    </table>