<h1>Favourites Page</h1>
<p>{{ message }}</p>
<table border="1">
  <tr ng-repeat="Favourite in Favourites">
    <td><b>Book Title: </b>{{Favourite.title}}</td><td><a href="#detail/{{Favourite.BookID}}">view detail</a></td><td><input type="submit" id="submit" value="remove"  ng-click="delete(Favourite.FavouritesID)"></a></td>
  </tr>
<p ng-show="NoFavourites"><b>No book in Favourites list , please add books to Favourites list</b></p>
</table>
