<p>{{ message }}</p>
    
    <form>
        <input type="text"placeholder="User Name:" style="text-align: center" name="username"id="username" ng-model="username"/><p>
        <input type="text"placeholder="Email address:" style="text-align: center" name="email"id="email" ng-model="email"/><p>
        <input type="password"placeholder="Password:" style="text-align: center" name="userpass"id="userpass" ng-model="password"/><p>
        <input type="submit" id="submit" value="Submit" ng-click="register()" />
    </form>

