<h1>Search Page</h1>

<p ng-show="Calllogin"><a href="#login">login</a></p>
	<p ng-show="loginstatus">wellcome,{{userID}}
	<a href="#"  ng-click="logout()">Logout</a></p>

<p>{{ message }}</p>

<p><input type="text" ng-model="searchTerm" ng-keydown="search($event)" autofocus></p>



<table border="1">

  <tr>
    <td align="center">BOOKID</td align="center"><td align="center">Book Title</td><td align="center">The cover</td><td align="center">Imformation link</td>
  </tr>
  <tr ng-repeat="book in books">
    <td align="center">{{book.id}}</td><td align="center">{{ book.volumeInfo.title}}</td><td align="center"><img src=" {{ book.volumeInfo.imageLinks.thumbnail}}" ></td><td align="center"><a href="#detail/{{book.id}}">view</a></td>
 
  </tr>
</table>
